@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    background-color : lightblue;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: black;
    text-align: center;
    
}

#navigation { 
    height: 5vh;
    background-color: lightsalmon;
    padding : 2rem;
    margin-bottom: 2rem;
}


#text-input {
    width : 90%;
    height: 10vh;
    border-radius: 0.5rem;
    border : none;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
}

#trans-button {
    padding : 1rem ;
    margin: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

#output{
    border: 1px solid black;
    height: 10vh;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    border: none;
}

#footer-head {
    text-align: center;
    /* height: 10vh; */
    background-color: lightsalmon;
    padding: 1rem;
}

#footer #footer-text {
    
    max-width: 600px;
    margin: auto;
}

#footer {
    text-align: center;
    height: 10vh;
    padding-bottom:5rem;
    background-color: lightsalmon;
}